WindowsFormsApp/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="stringStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Digit" type="xs:int" />
      <xs:element minOccurs="0" name="Lowercase" type="xs:int" />
      <xs:element minOccurs="0" name="Uppercase" type="xs:int" />
      <xs:element minOccurs="0" name="Vowel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stringStatistics" nillable="true" type="tns:stringStatistics" />
</xs:schema>